# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ "gh-pages" ]
  schedule:
    - cron:  '0 * * * *'

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
    # # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@0a29871fe2b0200a17a4497bae54fe5df0d973aa # v1.115.3
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    # - name: Install Jekyll Import gem
    - run: bundle install 
    - run: gem install jekyll-import
    - name: Import feeds from multiple sources
      run: ruby -I ./vendor/bundle import_feed.rb
    # - name: Run tests
    #   run: bundle exec rake
